/* @import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Hind+Siliguri&display=swap'); */

.subscribe-bg-img {
    background-image: url("@/assets/images/dbc/bg.png");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}