/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

.subscribe-bg-img {
    background-image: url("@/assets/images/dbc/bg.png");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

body {
    font-family: Kiron, Arial, sans-serif !important;
    padding-top: 64px;
    /* background: white; */
}

.hide-left {
    margin-left: -20rem;
    visibility: hidden;
}

.mobile-header {
    z-index: 9999;
}

.mobile-sidebar {
    z-index: 9999;
}

.nav--pinned {
    top: 0;
}

.footer-fixed {
    z-index: 9999;
}

.footer--pinned {
    bottom: 0;
}

footer {
    font-family: 'Arial', sans-serif;
}
