@tailwind base;
@tailwind components;

/* @font-face {
    font-family: 'Kiron';
    src: url('~/assets/fonts/kiron/Kiron.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/kiron/Kiron.woff') format('woff'), url('~/assets/fonts/kiron/Kiron.ttf') format('truetype'), url('~/assets/fonts/kiron/Kiron.otf') format('truetype'), url('~/assets/fonts/kiron/Kiron.svg#svgFontName') format('svg');
} */

@font-face {
    font-family: 'SolaimanLipi';
    src: url('~/assets/fonts/solaimanlipi/SolaimanLipi.eot');
    src: url('~/assets/fonts/solaimanlipi/SolaimanLipi.woff') format('woff'), url('~/assets/fonts/solaimanlipi/SolaimanLipi.ttf') format('truetype'), url('~/assets/fonts/solaimanlipi/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'), url('~/assets/fonts/solaimanlipi/SolaimanLipi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;
.title {
    @apply text-[1.0625rem] text-gray-700 leading-none transition duration-500 ease-in-out tracking-wider font-normal
}

body {
    @apply bg-gray-50
}

.title:hover {
    @apply text-red-700
}

.title-large {
    @apply text-gray-700 text-xl leading-none transition duration-500 ease-in-out tracking-wider font-medium
}

.title-large:hover {
    @apply text-red-700
}

.detail {
    @apply text-sm text-gray-500 tracking-wider mt-2 leading-none
}

.date {
    @apply text-sm text-gray-500 tracking-wider leading-none
}

img {
    @apply rounded-md
}

.detail-large {
    @apply text-left text-2xl leading-tight font-semibold text-gray-700
}

@media (max-width: 640px) {
    img {
        @apply rounded-b-none
    }
}

@media (max-width: 360px) {
    .live-video {
        @apply -top-16 h-72
    }
}